/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }


}

@media (min-width: 992px) {
    body {
        font-size: 1rem;
    }

    .zamershik {
        margin-top:-25%;
        margin-left: ;
    
    }

    .profile-image img{margin-top: 60px;}

}



/* Portrait tablets and small desktops */
/*@media (max-width: 992px) {

}*/


/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center {
        text-align: center !important;
    }

    .sm-pull-none {
        float: none !important;
    }

    .sm-m-top-10 {
        margin-top: 10px;
    }

    .sm-m-top-20 {
        margin-top: 20px;
    }

    .sm-m-top-30 {
        margin-top: 30px;
    }

    .sm-m-top-40 {
        margin-top: 40px;
    }

    .sm-m-top-50 {
        margin-top: 50px;
    }

    .item_img i {
        right: 0%;
    }

    .zamershik {
        margin-top: 0px;
    }

    .mob-office p {
        display: inline-block;
        width: 70%;
        margin-left: 20px;
        vertical-align: middle;
        text-align: left;
    }

    .mob-office img {
        display: inline;
        width: 15%
    }

    .navbar-callus i {
        height: 100%;
    }
}
}



/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 90%;
        /* line-height: 2rem;*/
    }

    .xs-pull-none {
        float: none !important;
    }

    .xs-text-center {
        text-align: center !important;
    }

    .xs-m-top-10 {
        margin-top: 10px;
    }

    .xs-m-top-30 {
        margin-top: 30px;
    }

    .xs-m-bottom-10 {
        margin-bottom: 10px;
    }

    .xs-m-bottom-20 {
        margin-bottom: 20px;
    }


    .main_home .home_text h2 {
        font-size: 24px;
    }

    .main_home .home_text h1 {
        font-size: 32px;
    }

    .main_home .home_text h3 {
        font-size: 18px;
    }

    .main_product .carousel-control {
        display: none;
    }

    .info-choice h1 {
        text-align: center;
    }

    .info-choice h2 {
        text-align: center;
    }

    .info-choice button {
        display: table;
        margin: 0 auto
    }
    .owl-prev i,
    .owl-next i {
        width: 20px;
        height: 20px;
        color: rgb(255, 102, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    .owl-prev i:hover, .owl-next i:hover{  
        background-color:rgba(0, 0, 0, 0);
}

}


@media (max-width: 600px) {
    .popup {
        height: 100%;
        width:100%;
    }
    .modal1 {
        height: 100%;
        width:100%;
    }


    .owl-prev i,
    .owl-next i {
        width: 20px;
        height: 20px;
        color: rgb(255, 102, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    .owl-prev i:hover, .owl-next i:hover{  
        background-color:rgba(0, 0, 0, 0);
}

/* Landscape phones and smaller */
@media (max-width: 479px) {
    .popup {
        height: 100%;
    }

    html {
        font-size: 85%;
    }

    .main_home .home_text h1 {
        font-size: 28px;
    }

    .main_home .home_text h3 {
        font-size: 17px;
    }

    .hidemobile {
        visibility: hidden;
        display: none;

    }





    @media (max-width: 400px) {}

    @media (max-width: 320px) {

        html {
            font-size: 60.5%;
        }

        .hidemobile {
            visibility: hidden;
            display: none;



        }

        @media (max-width: 991px) {}